<div class="container" id="main">
  <% @articles.in_groups_of(2).map(&:compact).each do |article_pair| %>
    <div class="row">
      <% article_pair.each do |article| %>
        <div class="col-lg-6 text-left">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <!-- Extrapolates title from url -->
                <%= link_to truncate(get_name(article), length: 30, separator: ' '), article.source, target: '_blank' %>
                <% if signed_in? %>
                  <% if @already_saved_articles.include? article.source %>  
                    <%= link_to content_tag(:i, nil, class: 'fa fa-heart fa-lg pull-right'), favorites_path(favorite: { article_id: article.id }),method: :post %>
                  <% else %> 
                    <%= link_to content_tag(:i, nil, class: 'fa fa-heart-o fa-lg pull-right'), favorites_path(favorite: { article_id: article.id }),method: :post %> 
                  <% end %>
                <% end %>
              </h3>
            </div>
            <div class="panel-body">
              <p>
                <!-- Removes http links in summaries -->
                <%= get_summary(article) %> 
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="text-center">
    <%= will_paginate @articles %>
  </div>
</div>



